In [1]:
# BLackslash
print("hello\
      world")
print('python\'s world')

hello      world
python's world

In [2]:
# strings in the quotes
# 1.triple Quotes
print("""      hello world      """)
print("""(\_/)
( •,•)
(")_(")""")

      hello world
(\_/)
( •,•)
(")_(")

In [3]:
# escape sequence
print("hi\nhow are you?")


print("welcome\t LetsUpgrade")

hi
how are you?
welcome	 LetsUpgrade

In [4]:
# formatted output
name='tejash'
age=19
marks=90.854286
print("Name:",name,"age:",age,"marks:",marks)

Name: tejash age: 19 marks: 90.854286

In [5]:
print("Name:%s age:%d marks:%f"%(name,age,marks))

Name:tejash age:19 marks:90.854286

In [6]:
print("Name:%7s age:%3d marks:%7.3f"%(name,age,marks))

Name: tejash age: 19 marks: 90.854

In [7]:
print("Name:%7s age:%3d marks:%5.1f"%(name,age,marks))

Name: tejash age: 19 marks: 90.9

In [8]:
print(f"The name of person is {name},his age is {age},his marks is {marks}")

The name of person is tejash,his age is 19,his marks is 90.854286

# Python variable and assignment statement

In [9]:
x=y=10

In [10]:
id(x)

140720490324656

In [11]:
id(y)

140720490324656

# OPERATOR

In [12]:
#arithematics
x=4
y=2
x**y

16

In [13]:
x*y

8

In [14]:
x+y

6

In [15]:
x-y

2

In [16]:
x/y

2.0

In [17]:
x//y

2

In [18]:
#Comparision
a=12
b=12
a==b

True

In [19]:
id(a)==id(b)#allocated in same memory location

True

In [20]:
x=258
y=258
x==y

True

In [21]:
id(x)==id(y)#different memory

False

In [22]:
x=10
y=1
x<y

False

In [23]:
x>y

True

In [24]:
x<=y

False

In [25]:
x>=y

True

In [26]:
x=10
y=10
x!=y

False

In [27]:
# assignment operator
a=10
b=a
b

10

In [28]:
a+=b
a

20

In [29]:
a=2
b=3
a-=b
a

-1

In [30]:
a=2
a**=2
a

4

In [31]:
#bitwise operator
x=10
y=1
x|y

11

In [32]:
x&y

0

In [33]:
#logical operator
a=True
b=False
a and b

False

In [34]:
a or b

True

In [35]:
10>9 and 10<m

NameError: name 'm' is not defined

In [36]:
10<9 and 10<m # in AND oparator if first expression is false then it does not check second expression and gives result false

False

In [37]:
not a

False

In [38]:
#menbership operator
str="hi how are you"
'h' in str

True

In [39]:
'x' in str

False

In [40]:
'x' not in str

True

In [41]:
#identity operator

In [42]:
a=50
b=50
a==b

True

In [43]:
a is b

True

In [44]:
a=-6
b=-6
a is b

False

In [45]:
a is not b

True